# Gupshup WhatsApp API Configuration
GUPSHUP_API_KEY=rh3qwfdats7ctrxqvjitudlo7f73xmm
GUPSHUP_SOURCE=155fs917684
GUPSHUP_TEMPLATE_ID=092caf10-8212-446b-ad5d-1856dd01935a
GUPSHUP_SRC_NAME=HomiAi
GUPSHUP_API_URL=https://api.gupshup.io/wa/api/v1/template/msg

# OTP Configuration
OTP_EXPIRY_MINUTES=3 